/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: left;
  height: 150%;
  display: block;
  overflow-x: auto;
}


h1 {
  font-size: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
  height: auto;
  width: fit-content;
  line-height: normal;
}

h2 {
  font-size: 30px;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: normal;
  color: #31708f;
}

h3 {
  font-size: 25px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: normal;
  color: #4a9bc1;
}

h4 {
  font-size: 22px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}


a {
  color: black;
}

a:link {
  text-decoration-style: none;
  text-decoration-color: black;
}

a:visited {
  color: grey;
}


ol {
  padding: 20px;
  margin-left: 35px;
}

ol li {
  margin: 5px;
}

ul {
  padding: 20px;
  margin-left: 35px;
}

ul li {
  margin: 5px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  max-width: 1000px;
  display: block;
  width: 80%;

}

.site-description {
  color: #999;
  font: 1rem "Cousine","Courier New",Courier,monospace;
  margin-bottom: 20px;
  margin-top: 20px;
}

.site-headers {
  font-size: 2rem;

}

/*****************************************************************************/
/*
/* Tables
/*
/*****************************************************************************/

table {
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  display: block;
  overflow-x: auto;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;  

}

thead{
  border-bottom: 1px solid black;
}

th{
  padding: 1rem 1rem;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight:900;
  color: black;
}


td {
  border-collapse: collapse;
  font-size: 0.9rem;
  padding: 0 10px;
  }

tr:nth-child(even) {background: #F8F8F8}



/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/


.footer .copyright {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}



/*****************************************************************************/
/*
/* Highlighting
/*
/*****************************************************************************/

.mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
}


.green-highlight, .pink-highlight, .yellow-highlight {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
    display: inline;
 }

.green-highlight {
    background: #37443e; /* Default color, all browsers */
}

.green-highlight::selection {
    background: #99CCCC; /* Selection color, WebKit/Blink Browsers */
}

.green-highlight::-moz-selection {
    background: #99CCCC; /* Selection color, Gecko Browsers */
}

.pink-highlight {
    background: #FFCCFF; /* Default color, all browsers */
}

.pink-highlight::selection {
    background: #FF99FF; /* Selection color, WebKit/Blink Browsers */
}

.pink-highlight::-moz-selection {
    background: #FF99FF; /* Selection color, Gecko Browsers */
}

.yellow-highlight {
    background: #FFFFCC; /* Default color, all browsers */
}

.yellow-highlight::selection {
    background: #FFFF66; /* Selection color, WebKit/Blink Browsers */
}

.yellow-highlight::-moz-selection {
    background: #FFFF66; /* Selection color, Gecko Browsers */
}



/*****************************************************************************/
/*
/* Alerts
/*
/*****************************************************************************/

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}
