---
layout: default
title: Pipe Galera
---


<div id="home">
  <h1 ><i class="material-icons-two-tone">notes</i> Blog posts</h1>
  <ul class="posts">
    {% for post in site.categories.blog %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


  <h1><i class="material-icons-outlined">dashboard</i> Projects</h1>
  <ul class="posts">
    <li>- <a href="https://github.com/pipegalera/Goodreads-webscraper">Goodreads Webscraper:</a> A python script to collect book data from Goodreads.com (webscape).</li>
    <li>- <a href="https://share.streamlit.io/pipegalera/book_recommendation_app/main">Book recommender web-app:</a> Book recommendation web-app built with python and deployed using Streamlit.</li>
    <li>- <a href="https://share.streamlit.io/pipegalera/basketballreference-webscraper/main">Basketball-reference web-app scraper:</a> Basketball-reference web scraper app built with python and deployed using Streamlit.</li>
  </ul>


  <h1><i class="material-icons-two-tone">cast_for_education</i> Courses notes</h1>
  <ul class="posts">
    {% for post in site.categories.courses %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


  <h1><i class="material-icons-two-tone md-18">podcasts</i> Bookmark of interesting Articles/Podcast</h1>
  <ul class="posts">
    <li><span>12 Oct 2021</span> &raquo; <a href="https://link.springer.com/chapter/10.1007%2F978-3-030-01057-7_56">Employee Turnover Prediction with Machine Learning: A Reliable Approach</a></li>
  </ul>

  <h1><i class="material-icons-outlined">code</i> Short code snippets</h1>
  <ul class="posts">
    {% for post in site.categories.code %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1><i class="material-icons-outlined">auto_stories</i> Book notes</h1>
  <ul class="posts">
    {% for post in site.categories.book_notes %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
