<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>{{ page.title }}</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Lato:wght@400;700&display=swap" rel="stylesheet">  
  
  <!-- Favicon emoji -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚡</text></svg>">


  <!-- Custom Highlight -->
  <link rel="stylesheet" href="/css/custom-code-blocks.css"/>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" media="screen, projection" />

  <!-- MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async 
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body>

<div class="site">
  <div>
    <p class="site-description">Personal website - programming, analytics, and hobbies</p>
  </div>

  {{ content }}

<div class="footer">
    <p class="copyright">Pipe Galera @ 2022</p>
</div>

</body>
</html>